:root {
    --color-flame-orange:#eb5e28;
    --color-errie-black:#252422;
    --color-black-olive:#403d39;
    --color-pale-silver:#ccc5b9;
    --color-floral-white:#fffcf2;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');

/* TODO: add media queries for mobile */
@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  
/* navigation bar */
nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

nav a:hover {
    border-bottom: 4px solid var(--color-flame-orange);
  }

nav a:visited {
    color: var(--color-black-olive);
  }

/* body */

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }



/* header */
header {
    padding: 100px 0px;
    margin-left:200px;
    text-align: center;
    background-color:blue;
  }

header h1 {
    font-size: 60px;
    font-weight:300;
    font-family: 'Roboto', sans-serif;
    color: var(--color-errie-black);
  }

header h2 {
    margin-left:100px;
    text-align: left;
  }

/* main content */

main {
    padding: 50px 0px;
    margin-left:200px;
    background-color:red;
  }

.body-section {
    padding:50px 0px;
    background-color:grey;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-after;
    width: 100%;
    margin: 1% auto;
    background-color:purple;
    align-items: stretch;

  }



.item {
    flex: 1 0 0;
    padding: 10px 10px 10px 10px;
}





  
h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color:#eb5e28
  }


footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }

  