* {
    --color-flame-orange:#eb5e28;
    --color-errie-black:#252422;
    --color-black-olive:#403d39;
    --color-pale-silver:#ccc5b9;
    --color-floral-white:#fffcf2;
    box-sizing: border-box;
  }
  
/* Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');

/* body */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }

/* header */
header {
    padding: 100px 0px;
    margin-left:200px;
    text-align: center;

  }
  
header h1 {
    font-size: 60px;
    font-weight:300;
    font-family: 'Roboto', sans-serif;
    color: var(--color-errie-black);
  }

header h2 {
    margin-left:100px;
    text-align: left;
    font-size: 30px;
    color:var(--color-flame-orange);
    font-family: 'Open Sans', sans-serif;
  }

/* navigation bar */
nav {
    display: flex;
    justify-content: flex-end;
    margin-left:200px; 
  }
  
nav a {
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 4px solid white;
  }

nav a:hover {
    border-bottom: 4px solid var(--color-flame-orange);
  }

nav a:visited {
    color: var(--color-black-olive);
  }

  


/* main content */
main {
    padding: 50px 0px;
    margin-left:200px; 
}

.content-header {
    margin-left:100px;
    text-align: left;
    font-size: 30px;
    color:var(--color-flame-orange);
    font-family: 'Open Sans', sans-serif;
}

.content {
    display: flex;
    padding-left:100px;
    align-items: flex-start;
    margin: 0px 0px 100px;
  }
  
.card {
    display: flex;
    align-items: center;
  }
  
.card-image {
    width: 100%;
    max-width: 300px;
  }
  
.card-details {
    margin-left: 3%;
    flex: 0 0 60%;
  }
  
@media screen and (max-width: 768px) {
    main,
    nav,
    .content {
      flex-direction: column;
    }
 
    .card-details {
      margin-left: 0;
    }
  }

footer {
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }